<div class="bg1">

<div class="row">
  <div class="col-lg-12">
    <div class="topnav">
        <a class="active" [routerLink]="['/home']" class="font-weight-bold"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>
        <a [routerLink]="['view-seller-profile']"  class="font-weight-bold"><span class="glyphicon glyphicon-user"></span>ViewProfile</a>
    
        <a [routerLink]="['/seller/add-items']"  class="font-weight-bold"><span class="glyphicon glyphicon-folder-open"></span> Add Items</a>
        <a [routerLink]="['/seller/view-items']" class="font-weight-bold"><span class="glyphicon glyphicon-search"> </span>  View Items </a>
        <a (click)="Logout()" id="r" class="font-weight-bold"><span class="glyphicon glyphicon-user"></span>&nbsp;LogOut</a>
        
       </div>
    </div>
  </div>
      <div class="row">
        
        <!-- <div class="col-lg-1">
      <div class="sidenav">
       
        <a [routerLink]="['/seller/generate-report']"><span class="glyphicon glyphicon-list-alt"> </span>  Genearte Report</a>
   
    </div> -->
  <!-- </div> -->
<div class="col-lg-2">

</div>
  <div class="col-lg-4">
    <router-outlet></router-outlet>
  </div>
  
  

  


</div>
</div>