

 <div class="topnav">
        <a class="active"  [routerLink]="['/home']"><i class="fa fa-fw fa-home"></i>Home</a>
        <a [routerLink]="['./view-buyer-profile']"><i class="fa fa-fw fa-user"></i>ViewProfile</a>
        <a [routerLink]="['/home']"><i class="fa fa-fw fa-phone"></i>Contact</a>
         <a [routerLink]="['./search']" id="l" ><i class="fa fa-fw fa-user"></i>Search</a> 
        
  <a (click)="Logout()" id="r" >LogOut</a>
      </div> 
     

      <div class="sidenav">
        <a [routerLink]="['./buy-product']" ><span class="glyphicon glyphicon-shopping-cart"></span> BuyProduct</a>
        <a [routerLink]="['./purchase-history']" ><span class="glyphicon glyphicon-time"> </span>  PurchaseHistory </a>
        <a [routerLink]="['./view-cart']"><span class="glyphicon glyphicon-sunglasses"> </span>  ViewCart</a>
   
    </div>




 
<div class="container-fluid">
      

    <div class="row">
      <div class="col-lg-4">
         
        </div>
      
    
    <div class="col-lg-4">
        
    <router-outlet></router-outlet>  
      </div>  
    
    
    </div>
    </div>