<div class="bg">
  
  <div class="row">
   <div class="col-lg-12">
     <div class="topnav">
      <a [routerLink]="['/buyer']"  class="font-weight-bold"><span class="glyphicon glyphicon-home"></span>Home</a>
      <a [routerLink]="['./view-buyer-profile']"  class="font-weight-bold"><span class="glyphicon glyphicon-user"></span>ViewProfile</a>
     
   
       <a [routerLink]="['./purchase-history']"  class="font-weight-bold"><span class="glyphicon glyphicon-time"> </span>TransactionHistory </a>
       <a [routerLink]="['./view-cart']"  class="font-weight-bold"><span class="glyphicon glyphicon-sunglasses"> </span>  ViewCart</a>
       <a (click)="Logout()" id="r"  class="font-weight-bold"><span class="glyphicon glyphicon-user"> </span> LogOut</a>
       <a [routerLink]="['./search']" id="r"  class="font-weight-bold"><span class="glyphicon glyphicon-search"></span>Search</a>      

         
       </div>
       </div>
   </div>
 <div class="row">
  
   
   
   <div class="col-lg-2">
     
   </div>
  
   
   <div class="col-lg-7">
     
       <router-outlet></router-outlet>
   
     </div>
   </div>
 
 </div>