
 <div class="topnav">
  
        <a [routerLink]="['/buyer']"><span class="glyphicon glyphicon-home"></span>Home</a>
        <a [routerLink]="['./view-buyer-profile']"><span class="glyphicon glyphicon-user"></span>ViewProfile</a>
       
     
         <a [routerLink]="['./purchase-history']" ><span class="glyphicon glyphicon-time"> </span>TransactionHistory </a>
         <a [routerLink]="['./view-cart']"><span class="glyphicon glyphicon-sunglasses"> </span>  ViewCart</a>
         <a (click)="Logout()" id="r" ><span class="glyphicon glyphicon-user"> </span> LogOut</a>
         <a [routerLink]="['./search']" id="r" ><span class="glyphicon glyphicon-search"></span>Search</a>      

      </div> 
     

      <!-- <div class="sidenav">
        <a [routerLink]="['./buy-product']" ><span class="glyphicon glyphicon-shopping-cart"></span> BuyProduct</a>
      
   
    </div> -->




 

<div class="container-fluid">
      

    <div class="row">
      <div class="col-lg-4">
         
        </div>
      
    
    <div class="col-lg-4">
        
    <router-outlet></router-outlet>  
      </div>  
    
    
    </div>
    </div>
