* {box-sizing: border-box;}

.topnav {
  overflow: hidden;
   background-color:black;/*topnav color  */
  padding: 8px 15px;
  width:100%;
}

.topnav a {
  float: left;
  display: block;
  color:white;/*topnav text colour */
  text-align: center;
  padding: 8px 12px;
  text-decoration-style:none;
  /* font-style:bold; */
  font-size: 16px;
}
  .topnav a:hover {
    background-color:transparent;/*cursor color */
    color: wheat;
  }

  .b1{
    background-image: url("src\assets\image\admin.jpg");  
    /* backgroundimGE */
    background-size: cover;
    background-attachment: fixed;
    height:1000px;
    position: relative;
   
   
   }