<div  class="jumbotron" >
    <h4>LOGIN</h4>
  <form [formGroup]="loginForm" (ngSubmit)="Validate()">
      <div class="form-group">
           <label ><span class="font-weight-bold">UserName</span></label>

           
          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">UserName is required</div>
          </div> 
         
      </div>
      <div class="form-group">
          <label><span class="font-weight-bold">Password</span></label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
      </div>
      <!-- <div class="form-group">
        Buyer <input type="radio" formControlName="role" value="buyer" name="role">&nbsp;
     Seller <input type="radio" formControlName="role" value="seller" name="role">&nbsp;
     </div>
  <div class="text-center">

      <button  type="submit" (click)="onSubmit()" id=b2>Login</button>
      <button  type="reset" (click)="onReset()" id=b2>Reset</button>
    </div> -->
  
    <div class="form-group">
        <label for="role"><input type="radio" formControlName="role" value="buyer">Buyer</label><br>
        <label for="role"><input type="radio" formControlName="role" value="seller">Seller</label><br>
    </div>
    <div class="row">        
        &nbsp; &nbsp;&nbsp;&nbsp; <button class="btn btn-primary col-sm-4 " (click)="Login()">Login</button>&nbsp;&nbsp;
        <button class="btn btn-secondary col-sm-4" type="reset" (click)="onReset()">Cancel</button>
    </div>


  <div class="text-center"> 
      <a [routerLink]="['/home/register-buyer']" class="font-weight-bold" >Register Buyer/</a>
      
      <a [routerLink]="['/home/register-seller']" class="font-weight-bold">Register Seller</a>
</div>
  </form>
</div>

<router-outlet></router-outlet>  

